@model WebAspNet_Core.Models.MappingPaymentToken

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>MappingPaymentToken</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("EditConfirmed", "MappingPaymentTokens", FormMethod.Post, new {id="formDados"}))
        {
         
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TokenRequestorId" />
                <input type="hidden" asp-for="TokenReferenceId" />
                <div class="form-group">
                    <label asp-for="Bin" class="control-label"></label>
                    <input asp-for="Bin" class="form-control" />
                    <span asp-validation-for="Bin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Panlength" class="control-label"></label>
                    <input asp-for="Panlength" class="form-control" />
                    <span asp-validation-for="Panlength" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Panciphered" class="control-label"></label>
                    <input asp-for="Panciphered" class="form-control" />
                    <span asp-validation-for="Panciphered" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PanexpirationDateCiphered" class="control-label"></label>
                    <input asp-for="PanexpirationDateCiphered" class="form-control" />
                    <span asp-validation-for="PanexpirationDateCiphered" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TokenLength" class="control-label"></label>
                    <input asp-for="TokenLength" class="form-control" />
                    <span asp-validation-for="TokenLength" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PaymentToken" class="control-label"></label>
                    <input asp-for="PaymentToken" class="form-control" />
                    <span asp-validation-for="PaymentToken" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RangeCounter" class="control-label"></label>
                    <input asp-for="RangeCounter" class="form-control" />
                    <span asp-validation-for="RangeCounter" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TokenReferenceIdlength" class="control-label"></label>
                    <input asp-for="TokenReferenceIdlength" class="form-control" />
                    <span asp-validation-for="TokenReferenceIdlength" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TokenExpirationDate" class="control-label"></label>
                    <input asp-for="TokenExpirationDate" class="form-control" />
                    <span asp-validation-for="TokenExpirationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Atc" class="control-label"></label>
                    <input asp-for="Atc" class="form-control" />
                    <span asp-validation-for="Atc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EventCounter" class="control-label"></label>
                    <input asp-for="EventCounter" class="form-control" />
                    <span asp-validation-for="EventCounter" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TimerEventExpiration" class="control-label"></label>
                    <input asp-for="TimerEventExpiration" class="form-control" />
                    <span asp-validation-for="TimerEventExpiration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Last4DigitsPan" class="control-label"></label>
                    <input asp-for="Last4DigitsPan" class="form-control" />
                    <span asp-validation-for="Last4DigitsPan" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CodeValidation" class="control-label"></label>
                    <input asp-for="CodeValidation" class="form-control" />
                    <span asp-validation-for="CodeValidation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TokenLocation" class="control-label"></label>
                    <input asp-for="TokenLocation" class="form-control" />
                    <span asp-validation-for="TokenLocation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmvkeyIndex" class="control-label"></label>
                    <input asp-for="EmvkeyIndex" class="form-control" />
                    <span asp-validation-for="EmvkeyIndex" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PcikeyIndex" class="control-label"></label>
                    <input asp-for="PcikeyIndex" class="form-control" />
                    <span asp-validation-for="PcikeyIndex" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AccountAndCardHolderDataAndDeviceDataCiphered" class="control-label"></label>
                    <input asp-for="AccountAndCardHolderDataAndDeviceDataCiphered" class="form-control" />
                    <span asp-validation-for="AccountAndCardHolderDataAndDeviceDataCiphered" class="text-danger"></span>
                </div>
                <div class="form-group">
                    
                    <a class="btn btn-default" onclick="submter()"> Save1</a>
                </div>
         
        }

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        function submter() {
            document.getElementById("formDados").submit();
            
        }
    </script>
}
